$darkBlue: #041a9b;
$grey: #666666;
$lightBlue: #809dc4;
$yellow: #e59319;

$heading: 'Merriweather', serif;
$body: 'Helvetica', sans-serif;


@import "partials/setup.scss";
@import "partials/navBar.scss";
@import "partials/links.scss";
@import "partials/footer.scss";
@import "partials/LogoMark.scss";

body {
    background-color: white;
}

.app-container {
    margin: 20px;
    border: 2px solid $lightBlue;
}

.mainFont {
    font-family: $heading;
    color: $yellow;
}

p {
    font-family: $body;
}

a {
    text-decoration: none;
    font-family: $heading;
    color:$grey;
}

.home-container,
.about-container,
.signin-container,
.contact-container,
.myBrands-container,
.userLogoMark-container
 {
    height: 100vh;
}
