.mainHeader {
    margin: 20px 50px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
    position: relative;
    a:hover::before {
            position: absolute;
            content: '';
            height: 2px;
            margin: 0 auto;
            left: 0;
            top: 25px;
            width: 100%;
            background: $yellow;
        }
}
