.uliWrapper {
    width: 100%;

     h2 {
        text-align: center;
    }


    .logoSelector {
        width: 60%;
        float: left;

   
.icon_ctn {
    width: 33.3333%;
    float: left;

    .icon_btn {
        border: 1px solid red;
    }
    }

    }

    .logoSelection {
        width: 30%;
        float: left;

        .logoContainer {
            width: 90%;

            img{
                width:100%;
            }
        }
    }



}